
.main {
    background: url("../img/background0.jpg") no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    opacity: 0.8;
}

.main .frame img{
    position: absolute;
}

/* .love {
    display: none;
} */

.forever {
    display: none;
}

.memory {
    display: none;
}

.khung {
    position: absolute;
    width: 56%;
    top: -8%;
    left: 22%;
}

.banhtroi {
    position: absolute;
    width: 10%;
}

.love .banhtroi {
    top: 63.5%;
    left: 33%;
}

.forever .banhtroi {
    top: 54%;
    left: 33%;
}

.memory .banhtroi {
    top: 53%;
    left: 35%;
}

.tao {
    position: absolute;
    width: 12%;
    left: 32%;
    bottom: 0;
}

.hoa {
    position: absolute;
    width: 8%;
    top: 6%;
    right: 32.5%;
}

.nhan {
    position: absolute;
    width: 16%;
    top: -4%;
    right: 30%;
}

.anhdao {
    position: absolute;
    right: 0;
    top: -2%;
    width: 20%;
}

.bike {
    position: absolute;
    width: 24%;
    bottom: 0;
    right: 4%;
}

.thap {
    position: absolute;
    width: 40%;
    bottom: -8%;
    left: -8%;
}

.not1 {
    position: absolute;
    width: 16%;
    top: -8%;
    left: 0;
}

.not2 {
    position: absolute;
    width: 12%;
    top: 8%;
    left: 18%;
}

.not3 {
    position: absolute;
    width: 8%;
    top: 32%;
    left: 12%;
}

.gau {
    position:absolute;
    width: 10%;
    bottom: 26%;
    right: 18%;
}

